@import '../../core/core';

.vui-heading-collapsible-target {
	.transition-duration( 400ms );
	.transition-property( 'opacity, transform, margin-bottom, height' );
	.transition-timing-function( ease-out );
	overflow: hidden;
}

.vui-heading-collapsible-target-collapsed {
	.opacity( 0 );
	.transform-translate-y( -10px );
	margin-bottom: 0 !important;
}

.vui-heading-collapsible {
	.user-select-none();
	cursor: pointer;
}

.vui-heading-collapsible-h {
	background-color: #f6f6f6;
}

.vui-heading-collapsible > a.vui-icon-expand,
.vui-heading-collapsible > a.vui-icon-expand-h,
.vui-heading-collapsible > a.vui-icon-collapse,
.vui-heading-collapsible > a.vui-icon-collapse-h {
	vertical-align: middle;
}